<FORM ENCTYPE="multipart/form-data" 
    ACTION="qpage.pih" 
    METHOD=POST>

编辑问卷设计文本: <br>
<textarea NAME="cfgfile" rows="27" COLS="80">
$cfgtxt
</textarea>
<br/>

<INPUT TYPE="submit" VALUE=" >提交设计查看问卷效果< " class="btn"> 

</form>
