import os

from HTMLTags import *

# uncomment next line with the db declaration, like
#import PyDbLite
import %(db_engine)s as PyDbLite
db = PyDbLite.Base(%(db_name)s).create(%(db_fields)s,mode="open")
db_name = os.path.splitext(os.path.basename(db.name))[0]

# specify field full names in a dictionary
fnames = dict((k,k) for k in db.fields)
#fnames.update({"Name":"Object name"}) # full names

not_empty = [%(not_empty)s]
